.news-article {
	background-color: #f3f3f3;
}

.news-article_dark {
	background-color: #222222;
	color: white;
}

.news-article__body {
}

.news-article__subtitle {
	font-size: 13px;
}

.news-article__title {
	font-size: 25px;
}

.news-article__text {
	font-size: 15px;
	line-height: 24px;
}