.title {
	background: center no-repeat;
}

.title__text {
	padding: 75px 0px 85px 0px;
	font-size: 37.5px;
	font-family: 'Gotham Pro';
	text-align: center;
	color: white;
	font-weight: 500;
}

.title__text_dark {
	color: #222222;
}